/* SearchBar.css */
.search-bar {
    padding: 45px 6px 6px;
    /* background: #ffffff; */
    border-bottom: 1px solid #e0e0e0;
    position: sticky;
    top: 0;
    z-index: 5;
}

.search-bar input {
    width: 100%;
    padding: 8px 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-family: "Inter", sans-serif;
    background: #f9f9f9;
    transition: border-color 0.2s;
}

.search-bar input:focus {
    border-color: #007bff;
    background: #fff;
}

.clear-icon {
    position: absolute;
    top: 73%;
    right: 1px;
    transform: translateY(-50%);
    color: #666;
    cursor: pointer;
    transition: color 0.2s;
}

.clear-icon:hover {
    color: #000;
}